<h1><%= @sponsoredpost.title %></h1>

 <div class="row">
   <div class="col-md-8">
     <p><%= @post.body %></p>
   </div>
   <div class="col-md-4">
      <%= link_to "Edit", edit_topic_post_path(@sponsoredpost.topic, @sponsoredpost), class: 'btn btn-success' %>
      <%= link_to "Delete Post", [@sponsoredpost.topic, @sponsoredpost], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' } %>

   </div>
</div>
