<div class="row">
  <div class="col-md-8">
    <h1>Label: <%= @label.name %></h1>

    <% @label.topics.each do |topic| %>
  <div>
    Topic: <%= link_to topic.name, topic %>
  </div>
  <% end %>

  <% @label.posts.each do |post| %>
  <div>
    Post: <%= link_to post.title, topic_post_path(post.topic, post) %>
  </div>
  <% end %>

  </div>
</div>
