<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>You're now following "<%= @post.title %>", you will be notified of all comments. </h1>

     <p>
       <%= @comment.body %>
     </p>
     <p>
       <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
     </p>
   </body>
 </html>
