<h1>Sign Up Confirmation</h1>
<h2> Are you sure these values are correct?</h2>


 <div class="row">
   <div class="col-md-8">
    <p>Email:<%= @user.email %></p>
    <p>Name:<%= @user.name %></p>
   </div>
</div>
   <div class="col-md-4">
      <%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
   </div>

   <div class="col-md-4">
      <%= button_to "No", {controller: "users", action: "new"}, class: 'btn btn-failure', :method => :get %>
   </div>
