<h1>All Posts</h1>
  <%= link_to "New", new_post_path(@post), class: 'btn btn-success' %>
<% @posts.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to post.title, post %>
      </h4>
    </div>
  </div>
<% end %>
